doctype html
html(lang='es-PE')
	head
	include ./include/head.jade
	link(rel='stylesheet', type='text/css', href='css/columnistas.css')
body
	//header
	include ./include/header.jade
	//COLUMNISTAS
	.columnistas
		.container
			.row
				.col-md-12.columnistas-new
					h1 <strong> Columnistas</strong>
					h4.db-ib LO ULTIMO EN COLUMNISTAS
					img.d-ib(src="image/double-arrow-bottom.png")
					
			mixin Blog
				.row
					mixin Blogfila(fecha,titulo,imagen,blog,nombre)
						.col-md-4
							.blog.thumbnail
								.contenido-blog
									p.text-center.mt-3=fecha
									h3.text-center=titulo
								.abajo-imagen
										img.img-responsive.pull-left.blog-avatar.thumbnail(src=imagen)
										.ml-3.mt-3.pull-left
										p=blog
										p.strong=nombre
				+Blogfila("Lunes 14 de Julio de 2015","El gol de la muerte","image/blog_avatar_01.jpg","BLOG","LIBROS")
				+Blogfila("Lunes 14 de Julio de 2015","Dios ha muerto, tengo las manos cubiertas de sangre","image/blog_avatar_02.jpg","BLOG","Ya lo pasado, PASADO")
				+Blogfila("Lunes 14 de Julio de 2015","¿Cual es tu queso favorito?","image/blog_avatar_03.jpg","BLOG","Décimas cosas")
			+Blog
			+Blog
			+Blog
			+Blog

	//ALL COLUMNISTAS
	.container.columnistas-carito
			.row.barra-columnistas
				.barra
					ul.list-unstyled.list-inline.text-center
						li
							a(href="#") TODOS
						li
							a(href="#") ABC
						li
							a(href="#") DEF
						li
							a(href="#") GHI
						li
							a(href="#") JKL
						li
							a(href="#") MNO
						li
							a(href="#") PQR
						li
							a(href="#") STU
						li
							a(href="#") VWXYZ
						
			mixin Blog
				.row
					mixin Blogfila(imagen,blog,nombre)
								.col-md-3
									.columnistas-imagen.abajo-imagen
										img.img-responsive.pull-left.blog-avatar.thumbnail(src=imagen)
										.ml-3.mt-3.pull-left
										p=blog
										p.strong=nombre
				+Blogfila("image/blog_avatar_01.jpg","BLOG","LIBROS")
				+Blogfila("image/blog_avatar_01.jpg","BLOG","LIBROS")
				+Blogfila("image/blog_avatar_01.jpg","BLOG","LIBROS")
				+Blogfila("image/blog_avatar_01.jpg","BLOG","LIBROS")
			+Blog
			+Blog
			+Blog
			+Blog
			+Blog
			+Blog
			+Blog


	// FOOTER(R)
	include ./include/footer.jade