doctype html
html(lang='es-PE')
  head
    include ./include/head.jade
    append title
    title Ho

    link(rel='stylesheet', type='text/css', href='css/main.css')
  body
    //header
    include ./include/header.jade
    // HERO SECTION
    .hero-section
        .container
            .row.text-center.primer-titular
                div
                    h1 GUERRA EN LA MUNICIPALIDAD DE LIMA METROPOLITANA
            .row.redes-tiempo.text-center
                ul.list-unstyle.list-inline
                    li
                        i.fa.fa-facebook.azul
                    li
                        i.fa.fa-twitter.celeste
                    li
                        i.fa.fa-google-plus.rojito
                    li
                        img(src="image/bullet.gif")
                    li Hace 12 minutos
                    li
                        img(src="image/bullet.gif")
                    li Politica
            .row.titulares
                .col-md-6.grande
                    img.img-100(src="image/img_grid_principal.jpg")
                    div.texto-grande
                        h3 JNE impulsará campaña en favor de la aprobacion de la Reforma Electoral
                .col-md-6.peques
                    .row.peque-arriba
                        div.flot-titu
                            img.img-100(src="image/img_grid_secundario.jpg")
                            
                            h5 Martín Belaunde Lossio: Empresas vinculadas al mpresario contrataron por s/. 3 000 millones 
                                    a(href="#") FOTOS
                        div.flot-titu
                            img.img-100(src="image/img_grid_secundario.jpg")
                        div.texto
                            div.flot-texto 
                                h5 Martín Belaunde Lossio: Empresas vinculadas al mpresario contrataron por s/. 3 000 millones 
                                        a(href="#") FOTOS
            .row.columnistas
                .container
                    div.flot
                        h4 COLUMNISTAS
                    .row.carrusel
                        div#caorusel-example-generic.carousel.slide(data-ride="carousel")
                            ol.carousel-indicators
                                li.active(data-target="#carousel-example-generic" data-slide-to="0")
                                li(data-target="#carousel-example-generic" data-slide-to="1")
                            div.carousel-inner(role="listbox")
                                div.item.active
                                    div.imagenes.pri-imag
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_noticias_relacionadas_slider.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_blogueros.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_noticias_relacionadas_slider.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_blogueros.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_noticias_relacionadas_slider.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_blogueros.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                    div.carousel-caption
                                div.item
                                    div.imagenes.sec-imag
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_noticias_relacionadas_slider.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_blogueros.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_noticias_relacionadas_slider.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_blogueros.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_noticias_relacionadas_slider.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_blogueros.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                    div.carousel-caption
                                 div.item
                                    div.imagenes.sec-imag
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_noticias_relacionadas_slider.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_blogueros.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_noticias_relacionadas_slider.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_blogueros.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_noticias_relacionadas_slider.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                        .col-md-2.col-xs-4
                                            .row.text-center
                                                img.thumbnail.img-responsive.bloguero(src="image/img_blogueros.jpg")
                                            .row.text-center
                                                p <strong>Mario Vargas Llosa</strong>
                                                h4 <strong>Megarrenuncia apelugante</strong>
                                    div.carousel-caption
        .container
                .row.bajo-colum
                    .col-md-8
                        .row
                            .col-md-6
                                div.otro
                                    h4 Mercado de pases
                                    img.img-100.img-responsive(src="image/img_especiales.jpg")
                                    p Todo sobre <strong>mercado de pases</strong>
                            .col-md-6
                                div.otro
                                    h4 Regimen laboral juvenil
                                    img.img-100.img-responsive(src="image/img_especiales_aside.jpg")
                                    p Todo sobre <strong>mercado de pases</strong>
                        .row
                            .col-md-6
                                div.otro
                                    h4 Mercado de pases
                                    img.img-100.img-responsive(src="image/img_especiales.jpg")
                                    p Todo sobre <strong>mercado de pases</strong>
                            .col-md-6
                                div.otro
                                    h4 Regimen laboral juvenil
                                    img.img-100.img-responsive(src="image/img_especiales_aside.jpg")
                                    p Todo sobre <strong>mercado de pases</strong>
                    .col-md-4
                        img.banner-derecho.image-responsive(src="image/banner-aside-home.jpg")

    // COLUMNISTAS
    // DESTACADOS+ PUBLICIDAD
    .fondo-news.mt-5


        .container
            .row
                //ULTIMAS NOTICIAS
                .col-md-8.news
                    //Declarar mixins
                    mixin list-news(tiempo,titular,img,description,comment,seccion,media)
                        li.list-news.mt-2
                            p=tiempo 
                            h4=titular
                            .row.mt-2
                                .col-md-4
                                    img.img-100.img-responsive(src=img)
                                .col-md-8
                                    p=description
                                    .media
                                        img.d-ib.mr-4(src="image/social_sprite.png")
                                        img.d-ib.mr-4(src="image/bullet.gif")
                                        img.d-ib(src="image/ico_comment.png") 
                                        p.mr-4.d-ib=comment
                                        img.d-ib.mr-4(src="image/bullet.gif")
                                        a.mr-4.d-ib=seccion
                                        img.d-ib.mr-4(src="image/bullet.gif")
                                        i.d-ib.fa&attributes(attributes)
                            hr.mt-2

                    H4.d-ib ULTIMAS NOTICIAS
                    img.d-ib(src="image/double-arrow-bottom.png")
                    
                    mixin rep-list-news
                        +list-news("Hace 1 hora 12 mins","Emma Watson protagonizara'La bella y la bestia' I Video","image/img_news.jpg","La actriz Emma Watson fue confirmada por Disney como la protagonista de la Bella y la bestia en la version de carne y hueso.","10","ESPECTÁCULOS")(class="fa-youtube-play")  
                        
                        +list-news("Hace 1 hora 12 mins","Roque Benavides respalda proyecto Tia Maria y espera que Conga se socialice","image/img_news2.png","Zenaida Condori Contreras Arequipa para el presidente de la Compañia de Minas Buenaventura,Roque Benavides, el proyecto Tia Maria, que promueve Southern Peru, ya debe...","0","AREQUIPA")(class="D-NONE")

                        +list-news("Hace 1 hora 12 mins","YOUTUBE:hombre finge ahogarse y su perro lo rescata | FOTOS","image/img_news3.png","La actriz Emma Watson fue confirmada por Disney como la protagonista de la Bella y la bestia en la version de carne y hueso.","10","ESPECTÁCULOS")(class="fa-camera")

                        +list-news("Hace 1 hora 12 mins","Real Madrid: Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el Atletico de Madrid","image/img_news4.png","Despues de la pesima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido de cuadro madrídista contra el Córdoba, el Comité de Competicion ha llegado a la ...","0","AREQUIPA")(class="D-NONE")
                    ul.list-unstyled
                        +rep-list-news
                        +rep-list-news
                        +rep-list-news
                        +rep-list-news
                        +rep-list-news
                        +rep-list-news
                        +rep-list-news
                        +rep-list-news
                        //- +list-news("Hace 1 hora 12 mins","Roque Benavides respalda proyecto Tia Maria y espera que Conga se socialice","image/img_news2.png","Zenaida Condori Contreras Arequipa para el presidente de la Compañia de Minas Buenaventura,Roque Benavides, el proyecto Tia Maria, que promueve Southern Peru, ya debe...","0","AREQUIPA")(class="D-NONE")


                .col-md-4
                    //Declarar mixins ()
                    mixin trama(img_superior,titulo)
                        //tramas
                        .fondo-trama.text-center.pd-1.pt-7.p-rl
                            img.p-ab(src=img_superior)
                            .container-blanco.pd-1.pt-7.mg-2.mt-5.text-center
                                h4=titulo
                                if block
                                    block
                                else
                                    p ...

                    mixin 4img_4p(img_superior,img_1,img_2,img_3,img_4,p_1,p_2,p_3,p_4,seccion)
                        //aweita
                        .img-p.mt-8.pd-2.container-fluid
                            .row.text-center
                                img(src=img_superior).mg-5
                            .row
                                .col-xs-5
                                    img.img-responsive.img-100(src=img_1)
                                .col-xs-7
                                    p
                                        b=p_1
                            .row
                                .col-xs-5
                                    img.img-responsive.img-100(src=img_2)
                                .col-xs-7
                                    p
                                        b=p_2
                            .row.mt-2
                                .col-xs-5
                                    img.img-responsive.img-100(src=img_3)
                                .col-xs-7
                                    p
                                        b=p_3
                            .row.mt-2
                                .col-xs-5
                                    img.img-responsive.img-100(src=img_4)
                                .col-xs-7
                                    p
                                        b=p_4
                            .row.mt-2.text-center
                                p Más en
                                    a=seccion


                    mixin titulos(titulo)
                        // Titulos de secciones
                        .titulo-secciones.p-rl.text-center
                            H4.mg-0.d-ib.pd-2.p-ab=titulo
                    
                    mixin img_text_ab(img_fondo,texto_foto)
                        //Especiales  
                        .img-text-ab.p-rl.text-center.mb-5
                            img.img-100(src=img_fondo)
                            p.p-ab.pd-2.mg-2.d-ib=texto_foto

                    mixin nuestros_blogueros(foto_bloguero,nombre_bloguero,ultimo_blog)
                        li.mb-5.nuestros-blogueros.text-center
                            .row
                                .col-md-3.col-xs-3
                                    img.img-100.img-responsive(src=foto_bloguero)
                                .col-md-9.col-xs-9
                                    a=nombre_bloguero
                                    p=ultimo_blog

                    
                    // SUSCRIBETE BOLETIN (L)
                    .suscribirse.text-center.pd-2
                        +trama("image/img_sucribe.png","Suscribete a nuestro boletín")
                            input
                            button.pd-1 SUSCRIBIRSE

                    //AWEITA
                    +4img_4p("image/logo_aweita.jpg","image/img_aweita.jpg","image/img_aweita.jpg","image/img_aweita.jpg","image/img_aweita.jpg","Juan Roman Riquelme el adios al 'Ultimo 10' de Argentina","dsjbfkjdsbfjksdbfjks","dsjbfkjdsbfjksdbfjks","dsjbfkjdsbfjksdbfjks","Aweita.pe")

                    // FOTOS DESTACADAS
                    +titulos("FOTOS DESTACADAS")
                    .img-destacadas
                        img.img-100.img-responsive(src="image/img_fotodes_prominent.jpg")
                        H3 Líneas de Nasca: admiten prisión preventiva de 6 meses para activista de Greenpeace | FOTOS
                        .row.mt-2
                            .col-xs-5
                                img.img-100.img-responsive(src="image/img_fotodes.jpg")
                            .col-xs-7
                                p Uchuraccay: El pueblo que recibe ocn flores a quienes llegan a pie |FOTOS
                        .row.mt-2
                            .col-xs-5
                                img.img-100.img-responsive(src="image/img_fotodes.jpg")
                            .col-xs-7
                                p Uchuraccay: El pueblo que recibe ocn flores a quienes llegan a pie |FOTOS
                        .row.mt-2
                            .col-xs-5
                                img.img-100.img-responsive(src="image/img_fotodes.jpg")
                            .col-xs-7
                                p Uchuraccay: El pueblo que recibe ocn flores a quienes llegan a pie |FOTOS
                        hr
                    // ESPECIALES
                    +titulos("ESPECIALES")
                    +img_text_ab("image/img_especiales_aside.jpg","Règimen laboral juvenil")
                    +img_text_ab("image/img_especiales_aside.jpg","Règimen laboral juvenil")
                    +img_text_ab("image/img_especiales_aside.jpg","Règimen laboral juvenil")
                    +img_text_ab("image/img_especiales_aside.jpg","Règimen laboral juvenil")

                    // CARICATURA DEL DIA
                    .caricatura-del-dia.text-center
                        +titulos("CARLINCATURAS DEL DÍA")
                        h4 Carlincaturas 30-01-2015
                        img.img-responsive.img-100(src="image/img_carlincatura_sd.jpg")
                        br
                        a.more Todas las Carlincaturas

                    // NUESTROS BLOGGEROS
                    .blogueros.text-center
                        +titulos("NUESTROS BLOGUEROS")
                        ul.list-unstyled.text-center
                            +nuestros_blogueros("image/img_blogueros.jpg","Augusto Álvarez Rodrich","Charlie Hebdo","historia que no debe repetirse")
                            +nuestros_blogueros("image/img_blogueros.jpg","Augusto Álvarez Rodrich","Charlie Hebdo","historia que no debe repetirse")
                            +nuestros_blogueros("image/img_blogueros.jpg","Augusto Álvarez Rodrich","Charlie Hebdo","historia que no debe repetirse")
                            +nuestros_blogueros("image/img_blogueros.jpg","Augusto Álvarez Rodrich","Charlie Hebdo","historia que no debe repetirse")
                            +nuestros_blogueros("image/img_blogueros.jpg","Augusto Álvarez Rodrich","Charlie Hebdo","historia que no debe repetirse")
                            +nuestros_blogueros("image/img_blogueros.jpg","Augusto Álvarez Rodrich","Charlie Hebdo","historia que no debe repetirse")
                        a.more Todos los blogs

                    // EDICION IMPRESA
                    .edicion-impresa
                        +titulos("EDICION IMPPRESA")
                        img.img-100.img-responsive.mb-5(src="image/img_impreso_sd.jpg")

                        ul.list-unstyled
                            li
                                .row
                                    .col-md-5
                                        img.img-100.img-responsive(src="image/img_impreso_sd.jpg")
                                    .col-md-7.mt-5
                                        h4 Extorsionan menores en colegios
                                        a(href="#") La República-Norte
                            li
                                .row
                                    .col-md-5
                                        img.img-100.img-responsive(src="image/img_impreso_sd.jpg")
                                    .col-md-7.mt-5
                                        h4 Extorsionan menores en colegios
                                        a(href="#") La República-Norte
                            li
                                .row
                                    .col-md-5
                                        img.img-100.img-responsive(src="image/img_impreso_sd.jpg")
                                    .col-md-7.mt-5
                                        h4 Extorsionan menores en colegios
                                        a(href="#") La República-Norte
                    hr

                    // Infografia
                    +titulos("INFOGRAFÍAS")
                    +img_text_ab("image/img_especiales_aside.jpg","Historico cierre de frontera")
                    +img_text_ab("image/img_especiales_aside.jpg","Historico cierre de frontera")
                    hr


                    // PREGUNTAS (L)
                    +trama("image/img_pregunta.png","La pregunta de hoy")
                        .preguntas.text-center
                            p ¿Cree usted que la premier Ana Jara debe renunciar?
                            input(type="radio")
                            | Si 
                            br
                            input(type="radio")
                            | No
                            br
                            button Votar
                            br
                            a Ver Resultados

                    +trama("","La pregunta de ayer")
                        .preguntas.text-center
                            p ¿Cree usted que se militarizó la conmemoración de la Haya en Lima?
                            .progress
                                .progress-bar.progress-bar-success(aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 55%") 55%
                                    span.sr-only 55%
                            .progress
                                .progress-bar.progress-bar-danger(aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 25%") 25%
                                    span.sr-only 25%
                            a Ver Preguntas Pasadas

                    // LIBERO.PE (x)
                    +4img_4p("image/logo_libero.jpg","image/img_video_destacado.jpg","image/img_video_destacado.jpg","image/img_video_destacado.jpg","image/img_video_destacado.jpg","Fiorentina empató 1-1 en su vida al Genoa con gran actuacion de Juan Vargas[VIDEO]","dsjbfkjdsbfjksdbfjks","dsjbfkjdsbfjksdbfjks","dsjbfkjdsbfjksdbfjks","Libero.pe")
                    
                    // POPULAR (x)
                    +4img_4p("image/logo_popular.jpg","image/img_news.jpg","image/img_news.jpg","image/img_news.jpg","image/img_news.jpg","Joshua Ivanoff esta loco por olor de Meliza Loza","dsjbfkjdsbfjksdbfjks","dsjbfkjdsbfjksdbfjks","dsjbfkjdsbfjksdbfjks","Popular.pe")


                    // WAPA(x)
                    +4img_4p("image/logo_wapa.jpg","image/sociedad-image--thumb-01.jpg","image/sociedad-image--thumb-01.jpg","image/sociedad-image--thumb-01.jpg","image/sociedad-image--thumb-01.jpg","Como renovar el guardarropa de los mas pequeños en este verano","dsjbfkjdsbfjksdbfjks","dsjbfkjdsbfjksdbfjks","dsjbfkjdsbfjksdbfjks","Wapa.pe")

                    // REPORTERO CIUDADANO (L)
                    .reportero
                        +trama("image/img_reporteroc.png","Reportero ciudadano")
                            img.img-responsive.img-100(src="image/img_sd_reporteroc.jpg")
                            h4 Estacionamiento indebido
                            p ¿Esta permitido que dejen su auto en reiteradas ocasiones toda la noche en la puerta de tu casa Placa DG623, eso que antes lo dejaba entre la vereda y mi puerta?
                        .text-center
                            button ENVIAR FOTOS
                            br
                            a Mas fotos
                              

    // SUSCRIBETE BOLETIN (L)
        //- L = fondo, imagen superior, div blanco, titulo
    
    
    // AWEITA (x)
        //- X = Imagen principal, 4 imagenes, 4 textos, mas "seccion, color seccion"
    // FOTOS DESTACADAS
    // ESPECIALES (y)
        //- Y= imagen fondo, p con fondo y su texto
    // CARICATURA DEL DIA
    // NUESTROS BLOGGEROS
    // EDICION IMPRESA
    // INFOGRAFIA (y)
        //- Y= imagen fondo, p con fondo y su texto
    // PREGUNTAS (L)
        //- L = fondo, imagen superior, div blanco, titulo
    // LIBERO.PE (x)
        //- X = Imagen principal, 4 imagenes, 4 textos, mas "seccion, color seccion"
    // POPULAR (x)
        //- X = Imagen principal, 4 imagenes, 4 textos, mas "seccion, color seccion"
    // GUAPA(x)
        //- X = Imagen principal, 4 imagenes, 4 textos, mas "seccion, color seccion"

    // REPORTERO CIUDADANO (L)
        //- L = fondo, imagen superior, div blanco, titulo
    // FOOTER(R)
    include ./include/footer.jade

